
  <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to 'Via Nomina', '/nomina/new'%></li>
      <li><%= link_to 'Via Nomina', '/nomina/new'%></li>
      <li><%= link_to 'Via Nomina', '/nomina/new'%></li>
    </ul>
   
