
<li><%= link_to 'Quienes somos',"#quienes_somos"%></li>
<li><a href="#row">Sucursales</a></li>
<li><a href="#work">Principios</a></li>
<li><a href="#contact">Contacto</a></li>
<li><%= link_to 'Iniciar sesión'></li>




