<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Quisa Brokers Financiera</title>
</head>

<body>

<!-- Menú de navegación del sitio -->
<ul class="navbar">
  list-style-type: none;
    padding: 0;
    margin: 0;
  <li><a href="indice.html">Via Nomina</a>
  <li><a href="meditaciones.html">Via Domiciliacion</a>
  <li><a href="ciudad.html">Contacto</a>
</ul>

<!-- Contenido principal -->
<link rel="stylesheet" href="/stylesheets/application.css">


</body>
</html>
