<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Quisa Brokers Financiera</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script-->
</head>
<body id="top" class="scrollspy">

<!-- Menú de navegación del sitio
<ul class="navbar">
  <li><a href="indice.html">Via Nomina</a>
  <li><a href="meditaciones.html">Via Domiciliacion</a>
  <li><a href="ciudad.html">Contacto</a>
</ul-->

<!-- Contenido principal -->
 <style type="text/css">
  body {
    padding-left: 11em;
    color: white;
    background-color: black}
    
    ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
    
    ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple }
    
    address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
</style>

<div class="navbar-fixed"> 
  <nav>
    <div class="nav-wrapper deep-orange darken-2">
      <a href="<%=root_path%>" class="brand-logo"></a>
      <%=image_tag("logo.png")%>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%=render "partials/menu"%>
      </ul>
    </div>
  <nav>
</div>

</body>
</html>
