<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Quisa Brokers Financiera</title>
</head>

<body>

<!-- Menú de navegación del sitio -->
<ul class="navbar">
  list-style-type: none;
    padding: 0;
    margin: 0;
  <li><a href="indice.html">Via Nomina</a>
  <li><a href="meditaciones.html">Via Domiciliacion</a>
  <li><a href="ciudad.html">Contacto</a>
</ul>

<!-- Contenido principal -->
<style>
  input[type="text"] { 
    text-transform: uppercase;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        text-transform: none;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        text-transform: none;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        text-transform: none;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        text-transform: none;
    }
</style>


</body>
</html>
